@keyframes delayed-blink {
  0%,
  90%,
  100% {
    transform: scaleY(1);
  }
  95% {
    transform: scaleY(0.01);
  }
}

.robot-eye-right {
  animation: delayed-blink 3s infinite ease-in-out;
}

@keyframes eye-roll {
  to {
    transform: rotate(360deg);
  }
}

.robot-eye-left {
  transform-origin: top;
  animation: eye-roll 3s infinite linear;
}


@keyframes ear-wiggle {
  50% {
    transform: rotate(-30deg);
  }
}

.robot-ear-left {
  transform-origin: top;
  animation: ear-wiggle 1s infinite ease-in-out alternate;
}

.robot-ear-right {
  transform-origin: bottom;
  animation: ear-wiggle 1s infinite ease-in-out alternate;
}

@keyframes nose-twitch {
  50% {
    transform: scale(2);
  }
}

.robot-nose {
  animation: nose-twitch 2s infinite ease-in-out;
  transition: transform 0.5s ease-in-out, border-bottom-color 0.5s ease-in-out;
}

.robot-nose:hover {
  transform: rotate(90deg) scale(1);
  border-bottom-color: #ff3333;
}


@keyframes mouth-chatter {
  to {
    transform: scaleY(0.2);
  }
}

.robot-teeth {
  transform-origin: middle;
  animation: mouth-chatter 1s infinite linear alternate;
}
.robot-teeth:hover {
    animation: none;
}

.robot-tooth:nth-child(2n) {
  animation-delay: 0.1s;
}

@keyframes hair-loss {
  25% {
    background-color: gray;
  }
  50% {
    background-color: white;
  }
  60% {
    opacity: 0.5;
    background-color: white;
  }
  75% {
    opacity: 0.75;
    background-color: white;
  }
  85% {
    opacity: 0;
    background-color: white;
  }
  100% {
    opacity: 0;
    background-color: white;
  }
}

@keyframes hair-loss-three {
  50% {
    background-color: white;
  }
  60% {
    opacity: 0.5;
    background-color: white;
  }
  75% {
    opacity: 0.75;
    background-color: white;
  }
  85% {
    opacity: 0;
    background-color: white;
  }
  100% {
    opacity: 0;
    background-color: white;
  }
}

.robot-hair-one,
.robot-hair-two {
  animation: hair-loss 4s infinite ease-in-out;
  animation-delay: 2s;
}

.robot-hair-three {
  animation: hair-loss-three 4s infinite ease-in-out;
  animation-delay: 2s;
}
